{% extends 'base.html.twig' %}

{% block body %}

    <h1>Reservations</h1>

   

        <h2>
        
        <span>Date de visite: {{ reservation.visitDate|date('d-m-Y') }}</span><br>

		<script>	

			

		</script>          

        </span>

        
</h2>
{%  endblock %}