{% extends 'base.html.twig' %}

{% block body %}

    <h1>RÉSERVATIONS</h1>
    <div class="recap">
        <h2>
	        {{ tickets }}
		</h2>
		<br><br> <button class="btn btn-success">Valider</button>
	</div>	
	<form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
    data-amount="999"
    data-name="Stripe.com"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>
{%  endblock %}