@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';

body{
		 background: url("../../public/images/im.jpg") no-repeat center fixed ;
		-webkit-background-size: cover; 
  		background-size: cover; 
}
.container{
	background-color: #2C3E50;
	opacity: 0.9;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
}
.add-another-collection-widget, .add-another-collection-widget_next{
	color: blue;

}
 pre .remove a{
	color: red;
	font-weight: bold;
}
.bg-primary {
	    background-color: lightblack !important;
	    text-transform: uppercase;
	    word-spacing: 129px;
		font-weight: bold;
}
.form-check-label{
	color: yellow;
}

 h3{
	color: white;
}
 .form-check-label {
	color: green;

}
.linkContactAfterPayment{
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
.stripe_payment{
	padding-bottom: 50px;
	text-align: center;
}
.recapPayment{
	text-align: center;
	color: white;
	font-weight:bold; 
}
.confirmPayment{
	color: white;
	font-style: italic;
	padding-left: 5px;
	padding-bottom: 5px;
}
.navbar-brand {
		
		font-weight: bold;
		font-size: 15px;
}
.bf, .newForm, .send{
	text-align: center;
}
.labelNewForm{
	color: red;
}
.vf{
text-align: left;
}
.tf{
	text-align: right;

}
 #btnAddTicket{
 	color: green;
 	font-weight: bold;
 }
@media screen and (min-width: 401px) {
    .btn.btn-success{
		margin-bottom: 10px;  
    }
}
@media screen and (max-width: 400px) {
    .btn.btn-success{
		margin-left: 148px;
		margin-bottom: 10px;  
    }
}

.expo a,.actu a, .infop a{
	text-align: center;
	color: darkblue;
	background-color: white;
	font-weight: bold;
}
.expo ,.actu , .infop {
	text-align: center;
}
h1{
	color:white;
	font-size: 20px;
}
.container{
	border:  2px   ;
	background-color: ;
}
@media screen and (min-width: 400px) {
.news
{

    background-color:white ;
    margin-top:10px;
    height:100px;
    border: 2px  ;
    margin-left:55px ;
    margin-right:55;
    padding: 10px;
 	color: blue;
    border-top-left-radius: 50px 20px;
    border-top-right-radius: 50px 20px;
    border-bottom-right-radius: 50px 20px;
    border-bottom-left-radius: 50px 20px;
}}
@media screen and (min-width: 400px) {
.contentactu1,.contentactu2,.contentactu3
{
background-color: white;
color:darkblue;
font-weight: bold;
padding-left: 5px;
}
.actu1,.actu2,.actu3
{
color:red;
text-align: center;
font-weight: bold;
text-decoration: underline;
}}
@media screen and (max-width: 399px) {
.news 
{
    background-color:white;
    margin-top:0px;
    border: 2px solid blue;
}}
.form-group{
	color:white;
	font-size: 15px;
	text-align: center;
}			
input#form_name.form-control,
input#form_email.form-control,
input#form_phoneNumber.form-control,
input#form_subject.form-control,
input#form_ticketType.form-control,
input#form_country.form-control,
input#form_dateBirth.js-datepicker.form-control,
input#form_visitDate.js-datepicker.form-control,
textarea#form_message.form-control{
	color: darkblue;
	font-weight: bold;
}
.login, .logout{
	text-align: center;
}
.foot{
	text-align: center;
	margin-top: 550px;
	color: white;	
}
.resa_recap{
	text-decoration: underline;
}
.btn_recap{
text-align: center;
padding-bottom: 20px;
word-spacing: 30px;	
}
div span.valider:hover{
	background-color: green;
	color: white;
	font-weight: bold;
}
div span.modifier:hover{
	background-color: red;
	color: white;
	font-weight: bold;
}

.recap{
	background-color: none;
	text-align: left;
	margin-bottom: 40px;
	margin-top: 40px;
	padding-bottom: 40px;
	padding-top: 20px;
	color: white;
}
.label{
	text-decoration: underline;
	text-align: left;
	font-weight: bold;
}
h1{
	text-align: center;
	font-weight: bold;
}
