<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
  <center>
        <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
          <tr>
            <td align="center" valign="top">
              <b>Nouveau message:</b> <br>{{contact_message}}<br><br>
              <em>Coordonnées de contact</em>: {{contact_name}}<br>{{contact_email}}<br>{{contact_phoneNumber}}<br><br>
            </td>
          </tr>
        </table>
</center>
</body>
</html>