{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
Le corps du message est là !

{# Makes an absolute URL to the /images/logo.png file #}
Ceci est une deuxième partie!