{% extends 'base.html.twig' %}

{% block title %}Récaputilatif de votre commande {% endblock %}

{% block body %}

	Total de votre commande: 9,9 euros.
	un mail de confirmation faisant office de biilet vient de vous être envoyé par mail.
	Si dans un delai de 24 h vous n'avez  toujours pas l'email, merci de nous <a href="">contacter</a>

{% endblock %}
